	body{
		margin: 0;
	}
	.content{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 1000px;
		margin: 0 auto;
	}
	.item{
		box-shadow: 2px 2px 2px 1px rgba(0 ,0, 0, 0.2);
		border-radius: 5px;
		padding: 5px;
		width: 200px;
		margin-bottom: 25px;
	}
	.item:hover{
		cursor: pointer;
		box-shadow: 2px 2px 2px 1px rgba(0 ,0, 0, 0.5);
		transition: .5s all;
	}
	.item img{
		width: 200px;
	}
	.item_title{
		width: auto;
		color: black;
		font-size: 14px;
		text-align: center;
		position: relative;
		font-weight: bold;
	}
	.item_price{
		color: red;
		font-size: 12px;
	}
	.content a {
		text-decoration: none;
	}
	.itemContainer{
		box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
		width: 90%;
		padding: 20px 0px;
	}
	.itemContainer, .item__image{
		width: 200px;
	}
	.category-wrapper{
		padding: 25px;
	}
	.dropDown_button{
		padding: 2px;
	}