.item {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat(2, auto-fit);
}

.item:hover {
    transition: all .2s ease-in-out; 
    transform: scale(1.1); 
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat(4, auto-fit);
    grid-gap: 1rem;
    grid-auto-flow: dense;
}